# Python files
__pycache__/
*.py[cod]
*.egg-info/
*.ckpt
.DS_Store

# Data and models (not in Git)
data/
models/

# Environment and logs
.env
.vscode/
*.log

# Jupyter notebooks
.ipynb_checkpoints/

# DVC remote storage
dvc_remote/

# Данные 
data/raw/GTSRB/Train/
data/raw/GTSRB/Test/
data/predictions.csv

# Логи MLflow
mlruns/
outputs/
mlflow.db

# Экспорты моделей
models/onnx/
models/trt/
